.App {
  text-align: center;
  background-color: rgb(19, 19, 19);
  height: 100%;
}

.header {
  display: flex;
  margin: 10px;
}
.header span {
  
  color: rgb(59, 59, 255);
  margin: 0px 30px;
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* position: relative;
  left: 50px; */
}


/* 
.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin:0px; 
}  
 */


